<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript">
        const addr = "127.0.0.1"; //换成本机网卡ip
        const port = 7000;
        const uri = "ws";
        const token = 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzZXgiOiLnlLfnlJ8iLCJuaWNrbmFtZSI6IuadsOWFi-iPsuWwvOWFi-aWryIsImlkIjoiMyIsImF2YXRhciI6Ii9hc3NldHMvaW1nLzUuanBnIiwiZXhwIjoxNjM4MzcxNjQzLCJoYXNoIjoiMDAwY2QxYWRiOWEzYjgxZWU2Zjg0YThmNGI0NjBiM2M4YTE5MmU5OThkMGI5MWNmODIwOWIwMTMyNWU4NGFjIiwiZW1haWwiOiJmdWNqb2tlckBvdXRsb29rLmNvbSIsImNvbnRlbnQiOiLmiJHljp_mnKzku6XkuLrmiJHmmK_kuKrmgrLliafvvIzlkI7mnaXmiJHmiY3lj5HnjrDov5nkuIDliIfpg73mmK_llpzliafjgIIiLCJ1c2VybmFtZSI6Impva2VyIn0.Eghi4VbMfr3UXgF3Lpxt4k9w6yuQGfNGIWl5aY9pQZM';
        //新建socket对象
        window.socket = new WebSocket(`ws://${addr}:${port}/${uri}?token=${token}`);
        //监听netty服务器消息并打印到页面上
        socket.onmessage = function(event) {
            let data = JSON.parse(event.data);
            console.log(data);
            $("#chat-box").append(`${data.hash}\n`);
            $("#chat-box").append(`${data.createTime}>${data.content}\n`);
            // $("#chat-box").text(`${data.friend}>${data.content}`);
        };
        //将发送人接收人的id和要发生的消息发送出去
        function send(){
            let data  = eval({
                "me" : $('#myid').val(),
                "friend"  : $('#friendid').val(),
                "content" : $("#chat-input").val(),
                "type": 1
            });
            console.log(data);
            socket.send(JSON.stringify(data))
        }
        //登录事件
        function login(){
            $.get(`http://${addr}:8882/login`,{'username':$('#myid').val(),'password':$('#mycode').val()},function (data) {
                console.log(data);
            })
        }
    </script>
</head>
<body>
<div id="content" class="row-center">
    <div id="input-box">
        <input id="myid" placeholder="hash">
        <input class="chat-input" id="chat-input" placeholder="message">
        <input id="friendid" placeholder="friend">
        <button class="chat-button" id="send" onclick="send()">发送</button>
    </div>
    <textarea id="chat-box" readonly style="width: 610px;height: 300px;"></textarea>
</div>
</body>
</html>
